* {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
	padding: 0%;
	margin: 0%;
	background-color: rgb(239, 239, 239);
}

#title {
	justify-content: center;
	width: 100%;
	height: 100%;
	font-size: 300%;
	font-weight: 600;
	color: white;
	display: flex;
	text-align: center;
	align-items: center;
	animation: text-ghosting 2s;
}

.tplaceHolder {
	display: flex;
	justify-content: left;
	align-items: center;
	width: 100%;
	height: 20vh;
	font-size: 250%;
	font-weight: 500;
}

.lplaceHolder {
	display: flex;
	justify-content: left;
	align-items: center;
	width: 100%;
	height: 10vh;
	font-size: 250%;
	font-weight: 500;
}

.bar1 {
	vertical-align: middle;
	display: inline-flex;
	padding: 4px;
	margin: 0 0 0 50px;
	background-color: rgb(62, 62, 62);
	transform: rotate(23deg);
	width: 1px;
	height: 4vh;
}

.bar2 {
	vertical-align: middle;
	display: inline-flex;
	padding: 4px;
	margin: 0 20px 0 7px;
	background-color: rgb(26, 26, 26);
	transform: rotate(23deg);
	width: 1px;
	height: 4vh;
}

.text {
	display: flex;
	align-items: center;
	vertical-align: middle;
	font-size: 170%;
	font-weight: 400;
	max-width: 100%;
	padding: 0 10% 2% 10%;
}

.langText {
	display: flex;
	align-items: center;
	vertical-align: middle;
	font-size: 170%;
	font-weight: 400;
	max-width: 100%;
	padding: 0 10%;
}
.proficiencyText {
	display: flex;
	align-items: center;
	vertical-align: middle;
	font-size: 130%;
	font-weight: 400;
	max-width: 100%;
	padding: 0 11%;
	color: rgb(119, 119, 119);
}

.bioText {
	display: flex;
	align-items: center;
	vertical-align: middle;
	font-size: 130%;
	font-weight: 400;
	max-width: 100%;
	padding: 0 11%;
	color: rgb(119, 119, 119);
}

.title {
	vertical-align: middle;
	display: inline-flex;
}

.content {
	display: flex;
	align-items: center;
	justify-content: center;
	vertical-align: middle;
	font-size: 170%;
	font-weight: 400;
	max-width: 100%;
	padding: 0 10% 2% 10%;
	margin: 0 auto;
	user-select: none;
}
.area {
	display: inline-flex;
	vertical-align: middle;
	width: 100%;
	height: 7vh;
	border: 3px solid black;
	border-radius: 20px;
	margin: 2px -30px;
}

.area:hover {
	border-color: grey;
	background-color: black;
	cursor: pointer;
}
.area:hover > .areas {
	color: white;
}

.areas {
	align-items: center;
	justify-content: center;
	display: flex;
	align-items: center;
	color: black;
	border-radius: 20px;
	list-style: none;
	margin: 0 auto;
	width: inherit;
	height: inherit;
}

/* .areas:hover {
	color: white;
} */

@keyframes text-ghosting {
	from {
		opacity: 0;
	}
	to {
		opacity: 100;
	}
}

@keyframes hoverEffect {
	from {
		display: none;
	}
	to {
		display: inherit;
	}
}
